#pink{
    background-color: lightpink;
}





@-webkit-keyframes fadeOut {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeOut {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeOut{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade{
    0% {opacity: 0}
    100% {opacity: 1}
}

#thumb{
   /* display: none;*/
    animation: fade 8s;
    -webkit-animation:fadeOut 8s;
    -moz-animation:fadeOut 8s;
    -o-animation:fadeOut 8s;
}