#pink{
    background-color: pink
}

@-webkit-keyframes thumbnail {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes thumbnail {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes thumbnail{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes thumbnail{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#thumb{
  -webkit-animation: thumbnail 5s; /* Safari 4+ */
  -moz-animation:    thumbnail 5s; /* Fx 5+ */
  -o-animation:      thumbnail 5s; /* Opera 12+ */
  animation:         thumbnail 5s; /* IE 10+, Fx 29+ */
}